@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');



body {
    display: inline;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5% 10%;
    margin: 16px;
}

.navigation {
  text-align: center;
  font-size: 16px;
  color: lightpink;
}

.wrapper {
  font-family: 'Times New Roman', Times, serif;
 text-align: center;
 font-size: 20px;
 color: rgb(0, 0, 0);
 }

.background {
  @media (width: 400px) {}
  @media (min-width: 50em) {}
  @media (max-width: 1000px) {}
  background-repeat: space;
  position: absolute;
  top: 200px;
  left: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
	background-color: rgb(238, 212, 225);
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.button {
	color: #669acb;
	border-radius: 20px;
	border-color: rgb(190,212,233);
	padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

